  <div id = "header">
    <h1>Life Photographed!</h1>
  </div>
  <br>
  <div id="nav">
    ~*<%= link_to " Home ", controller: "home" %>*~
    ~*<%= link_to " Photographs ", controller: "photo" %>*~
    ~*<%= link_to " About Ryan ", controller: "aboutme" %>*~
    ~*<%= link_to " Contact Me ", controller: "contact"%>*~
  </div>
