  <div id = "header">
    <h1>Want to know more? Contact me below!</h1>
  </div>
  <div id="slogan">
    <h3>"I Love Life!"</h3>
  </div>

<div id="contact">
  <p>Email:</p>
  <p>Twitter:</p>
  <p>Facebook:</p>
</div>

  <img src= "http://th06.deviantart.net/fs50/PRE/i/2009/307/8/1/Bright_Heart_Raccoon_by_Onzeno.jpg" id ="bhr">
