  <div id = "contheader">
    <h1>Want to know more? <br>
      Contact me below!</h1>
  </div>
  <br>
  <div id="nav">
    ~*<%= link_to " Home ", controller: "home" %>*~
    ~*<%= link_to " Photographs ", controller: "photo" %>*~
    ~*<%= link_to " About Ryan ", controller: "aboutme" %>*~
    ~*<%= link_to " Contact Me ", controller: "contact"%>*~
  </div>

  <div id="contact">
    <p>Email: iamryanjohnstone@facebook.com</p>
    <p>Twitter: @proventobetrue </p>
    <p>Facebook: https://www.facebook.com/iamryanjohnstone </p>
  </div>


