/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


a:link, a:visited, a:active {
  color: #5CB3FF;
  font-size: 20px;
}

#nav {
  background-color: #151b54;
  height: 200px;
  width: 200px;
  border: 20px double #5CB3FF;
  border-radius: 120px;
  color: #5CB3FF;
  font-size: 20px;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 0 10px 0 10px;
  position: absolute;
  top: 450px;
  left: 50px;
}


