/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: #000000;
}

a:link, a:visited, a:active {
  color: #5efb63;
  font-size: 20px;
}

a:hover {
  background-color: #000033;
  color: #bffbff;
  font-size: 25px;
}

#nav { /*Navigation*/
  background-color: #000000;
  color: #0FCA0f;
  font-size: 20px;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0 10px 0 10px;
  height: 30px;
}








