// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contheader {
  text-align: center;
  border: 15px double #0dfd05;
  padding: 10px 10px 10px 10px;
  color:#5efb63;
  font-size: 45px;
}
#contact {
  text-align: center;
  color: #0dfd05;
  font-size: 30px;
  padding: 10px 10px 10px 10px;
  margin: 0 20px 0 40px;
}


