#homeheader {
  text-align: center;
  border: 15px double #00CCFF;
  padding: 10px 10px 10px 10px;
  color:#ffffff;
  font-size: 45px;
}

#twit {
  margin: 0 10px 0 10px;
  position: absolute;
  top: 400px;
  right: 100px;
  width: 600px;
}

#homeslogan {
  text-align: center;
  color:#ffffff;
  font-size: 30px;
  border: 10px dotted #00CCFF;
  border-radius: 100%;
  height: 380px;
  width: 380px;
  position: absolute;
  top: 400px;
  left: 100px;
}

#rpic {
  border-radius: 100%;
}
