  <div id = "abtheader">
    <h1>A little piece of my heart and soul.</h1>
  </div>
  <br>
  <div id="nav">
    ~*<%= link_to " Home ", controller: "home" %>*~
    ~*<%= link_to " Photographs ", controller: "photo" %>*~
    ~*<%= link_to " About Ryan ", controller: "aboutme" %>*~
    ~*<%= link_to " Contact Me ", controller: "contact"%>*~
  </div>

  <img src= "http://th06.deviantart.net/fs50/PRE/i/2009/307/8/1/Bright_Heart_Raccoon_by_Onzeno.jpg" id ="bhr">

  <div id ="abtme">
    <h3>My Qualities as told by others:</h3>
    <ul>
      <li>Highly intelligent thinker and inventor.</li>
      <li>Relies on logic and reasoning to solve problems.</li>
      <li>Golden hearted.</li>
      <li>Respectful, Resourceful</li>
      <li>Outgoing and Very Brave</li>
      <li>Huggable, Gives the best bear hugs!</li>
      <li>Unselffish, Ryan gives back to the community often.</li>
    </ul>
  </div>
